<div class="row g-3">
    <div class="col-12">
        {{ form_row(form.partner) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.type) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.status) }}
    </div>
    <div class="col-12">
        {{ form_row(form.title) }}
    </div>
    <div class="col-12">
        {{ form_row(form.description) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.amount) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.offerDate) }}
    </div>
</div>
