{% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
    <h1>Profile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Bio</th>
                <th>Specialite</th>
                <th>Localisation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{{ profile.bio }}</td>
                <td>{{ profile.specialite }}</td>
                <td>{{ profile.localisation }}</td>
                <td>
                    <a href="{{ path('app_profil_show', {'id': profile.id}) }}">show</a>
                    <a href="{{ path('app_profil_edit', {'id': profile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profil_new') }}">Create new</a>
{% endblock %}
