<div class="row g-4">
    <div class="col-md-6">
        {{ form_row(form.nom, { 'attr': { 'class': 'form-control' } }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.telephone, { 'attr': { 'class': 'form-control' } }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.categorie, { 'attr': { 'class': 'form-select' } }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.quantite, { 'attr': { 'class': 'form-control' } }) }}
    </div>
    <div class="col-12">
        {{ form_row(form.description, { 'attr': { 'class': 'form-control', 'rows': 4 } }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.disponible) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.photoFile) }}
    </div>
    <div class="col-12 mt-4">
        <hr class="opacity-10">
        <button type="submit" class="btn btn-success px-4 py-2" style="background-color: #1a4d2e; border: none; border-radius: 8px;">
            <i class="fas fa-save me-2"></i>{{ button_label|default('Enregistrer') }}
        </button>
        <a href="{{ path('app_admin_donations') }}" class="btn btn-light border px-4 py-2 ms-2" style="border-radius: 8px;">
            Annuler
        </a>
    </div>
</div>
